.modal-details h4 {
  color: black !important;
}

.hero-container {
  position: relative;
  width: 100%;
  padding: 0;          /* white space remove */
  margin: 0;
}

/* Button overlay */
.hero-btn {
  position: absolute;
  bottom: 15%;
  left: 42%;
}
